# Application Production Settings
NODE_ENV=production
PORT=8000

# Database Production Configuration
DB_HOST=db
DB_USER=root
DB_PASSWORD=production_secure_db_password
DB_NAME=express_prod_db
DB_PORT=3306
